.container_flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
}
.container {
  display: flex;
  align-items: center;
}

.text {
  font-size: 2rem;
  padding: 20px;
}

@mixin myRing($a, $color) {
  height: $a;
  width: $a;
  border: $a/10 solid;
  border-color: $color;
  border-radius: 50%;
  box-shadow: $a/30 $a/30 $a/20 darken($color, 10%),
    inset $a/30 $a/30 $a/20 darken($color, 10%);
}

.smallRing {
  @include myRing(30px, #ff8c00);
}
.bigRing {
  @include myRing(90px, #ffd106);
}

@for $i from 1 through 6 {
  .JO#{$i} {
    @include myRing(10px * $i, #161616);
    margin-left: -3px * $i;
    margin-bottom: -100px;
  }
}
